<div class="dashboard">
    <h2>ABC SCHOOL</h2>
<div class="side_bar">
    <img src="/assets/images/tea.png" alt=""><br>
    

</div><br>
<div class="div1">
    <span>Teacher1</span><br>
    <span>T0001</span>
</div>
    <ul>
        <li><a [routerLink]="'/'">Profile</a> </li>
        <li><a [routerLink]="'/'">Attendance</a></li>
        <li><a [routerLink]="'/'">Students</a></li>
    </ul>
</div>

<div class="container">
    <div class="header">
        <div class="nav">
            <div class="search">
                <input type="text" placeholder="search">
                <button type="submit"><img src="assets/images/search2.jpg" alt=""></button>
            </div>
            <div class="user">
                <a href="" class="btn">Add New</a>
            </div>
        </div>
    </div>
</div>