<!-- <span><b>TEACHERS</b></span>
<div class="container">
    <input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchText">
    <table class="table1 table-hover table-striped">
        
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email Id</th>
                    <th>Phone Number</th>
                    <th>Password</th>
                    <th>Address</th>
            
                </tr>
            </thead>
      
       
            <tbody>
                <tr *ngFor="let i of data | search : searchText">
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.password}}</td>
                    <td>{{i.address}}</td>
                </tr>
            </tbody>
       
    </table>
</div> -->
