<!-- <nav class="nav-container navbar-expand-lg navbar-light" style="background-color:rgba(180, 63, 17, 0.253) ;">
    
    <ul class="right-side">
        <li><a class="navbar-brand" >ABC SCHOOL</a></li>
        <li><a [routerLink]="'/home'" class="nav-link">Home</a></li>
        <li><a [routerLink]="'/student'" class="nav-link">Student</a></li>
        <li><a [routerLink]="'/teacher'" class="nav-link">Teacher</a></li>
        
    <ul class="left-side">
        <li><a [routerLink]="'/contact'" class="nav-link">Contact Us</a></li>
    </ul>

</nav>
<img src="assets/images/img1.jpg" alt="" height="90%" width="100%">
  <div class="text">Education is key to success</div>
   -->
